<script type="text/javascript">
function checkExpand(ch) {
    var obj=document.all && document.all(ch) || document.getElementById && document.getElementById(ch);
    if(obj && obj.style) obj.style.display=
    "none" == obj.style.display ?"" : "none"
}
</script>


<p>
  <%=content_tag(:label, l(:button_activate))%>
  <%=check_box_tag 'settings[enable]', true, @settings['enable'] == "true" %>
</p>

<p>
  <%=content_tag(:label, l(:authenticated_user_only))%>
  <%=check_box_tag 'settings[hide_anonymous]', true, @settings['hide_anonymous'] == "true" %>
</p>

<p>
  <%=content_tag(:label, l(:hide_issue_show_page))%>
  <%=check_box_tag 'settings[hide_issue_show_page]', true, @settings['hide_issue_show_page'] == "true" %>
</p>

<p>
  <%=content_tag(:label, l(:feedback_url)) %>
  <%=text_field_tag 'settings[feedback_url]', @settings['feedback_url'], :size => 50  %>
  <a class="icon icon-help" href="#" title="<%= l(:help_for_this_field) %>"
     onclick="checkExpand('site_feedback_help_content');"><%= l(:help_for_this_field) %></a><br/>
<span id="site_feedback_help_content" class="help_content" style="display: none;">
  <%= l(:help_for_feedback_url) %>
</span>
 (exp: http://www.redmine.org/projects/redmine/boards/)
</p>

<p>
  <%=content_tag(:label, l(:feedback_description)) %>
  <%=text_area_tag 'settings[feedback_description]', @settings['feedback_description'], :size =>"50x3"  %><br/>
  (<%= l(:about_feedback_description) %> )
</p>
