<%
# Site Feedback Plugin
#
-%>
<%= javascript_include_tag 'jquery-1.7.2.min.js', :plugin => 'redmine_site_feedback' %>
<%= javascript_include_tag 'feedback.jQuery.js', :plugin => 'redmine_site_feedback' %>
<%= stylesheet_link_tag 'site_feedback', :plugin => 'redmine_site_feedback' %>
<script type="text/javascript">
        jQuery.noConflict();
        var j$ = jQuery;
	j$(document).ready(
           function(){
	       j$('#feedback').feedback({
                   'mouseoverColor' : '#F7FF60',
                   'mouseoffColor' : '#F6F6F6'	
               }); //plugin with options
	    });

            j$(function(){
                j$("#feedback").click(function(){
                window.open("<%= Setting.plugin_redmine_site_feedback['feedback_url'] %>", "RedmineSiteFeedback");
                return false;
            });
        });
</script>
